//Created by admin on 8/23/15.
html
  body
    .demo
      #callback_example.example
        div
          div(style='float:left; width:100%; margin-bottom:20px')
            .colorwheel(style='float:left; margin-right:20px; width:300px; text-align:left;')
            div(style='float:left; width:50%')
              span.onchange(style='padding:5px; color:#FFF')
              .ondrag(style='display:none;')
                b You are dragging the wheel
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src = '//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js')
    script(src = '/js/colorwheel.js')
    script(src='/js/color.js')
